/*Geral*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-rendering: optimizeSpeed;
    word-break: break-all;
}

body {
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

header {
    margin-bottom: 3em;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Navbar - Navegação, foto e texto*/
.navbar {
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #206664;
    gap: 2em;
}

.picture_lino {
    width: 8vw;
    height: 15vh;
    border-radius: 50%;
    border: 5px solid #AF6948;
    overflow: hidden;
    outline: 2px solid #AF6948;
    outline-offset: 0.5em;
    transition: all 250ms ease-in-out;
}



.navbar_ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: larger;
}

.nav-text {
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 2px;
}

.nav-text:hover {
    color: #AF6948;
    transition: 1000ms;
    letter-spacing: 1px;
    transition: all 250ms ease-in;
}





/*Main/sections*/
.main {
    height: 100%;
    width: 80%;
    padding: 0% 4em;
    background-color: #8FEAE7;
    overflow-y: scroll;
}

.main-text {
    padding-top: 1em;
}

.email,
h1 span {
    color: #AF6948;
}

.about_me,
p {
    padding-top: 1em;
    text-align: justify;
    padding-top: 1em;
}

.social_midia {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 3em;
    margin-top: 1.5em;
    list-style: none;

}

.social {
    padding-top: 1em;
}

.icon {
    width: 2em;
    outline-offset: 0.5em;
    outline: 2px solid #AF6948;
    border-radius: 25%;
    background-color: transparent;
    transition: all 200ms ease-in-out;
}

.icon:hover {
    box-shadow: 0% 0% #AF6948;
    outline-offset: 0.3em;
    outline: 2px solid #AF6948;
}

.grow {
    color: black;
}


/*knowledge/goals*/
.knowledge,
.goals {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.knowledge_text {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: start;
    font-weight: 700;
    font-style: italic;
}

/*details */

::-webkit-scrollbar {
    width: 2px;
    background: #F4F4F4;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-track-piece {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: red;
}