*{
   margin: 0;
   padding: 0;
}

.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
img{
   width: 8rem;
   height: 8rem;
   border: 3px solid black;
   border-radius: 50%;
   outline: 3px solid black;
   box-shadow: 0px 0px 2em rgba(240, 84, 84, 0);
   outline-offset: 10px;
   transition: 400ms;
}
img:hover{
   outline-offset: -2px;
   box-shadow: 0px 0px 5rem rgba(240, 84, 84, 10);
   transition: 400ms;
}

nav{
   height: 100%;
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #AF6948;
   box-shadow: 0px 0px 1rem rgba(163, 154, 158, 0.8);
}
nav ul{
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2em;
   
   
}
main{
   height: 100%;
   width:80% ;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2em;
   text-align: center;

}
ul{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 100px;
}